body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-light-hsl: 200, 100%, 91%;
  --primary-hsl: 200, 100%, 50%;
  --primary-dark-hsl: 200, 100%, 6%;
  --success-hsl: 100, 60%, 50%;
  --error-hsl: 0, 60%, 50%;
}

.full-image-container{
  background-image: url(https://cutewallpaper.org/27/blue-electric-wallpaper-gif/aesthetic-gif-wallpapers-top-free-aesthetic-gif-backgrounds--wallpaperaccess.gif);
  background-color: darkgrey;
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  --color: hsl(var(--primary-dark-hsl), .7);
  background-color: var(--color);
  box-shadow: 0 0 15px 0 var(--color);
  padding: 2.5em 1.5em;
  width: 80%;
  max-width: 600px;
  border-radius: 1.5em;
}

.login-title {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: normal;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.input-group label {
  color: white;
  font-weight: lighter;
}

.input-group input {
  font-size: 1.25rem;
  padding: .5em;
  background-color: hsl(var(--primary-light-hsl), .3);
  border: none;
  outline: none;
  border-radius: .5em;
  font-weight: lighter;
}

.input-group input:focus {
  box-shadow: 0 0 0 1px hsl(var(--primary-hsl));
}

.btn-container{
  display: flex;
  justify-content: center;
}

.validation{
  margin-top: 0;
  color: #3EC70B;
}

.login-button {
  padding: 1em 1em;
  font-size: 1rem;
  font-weight: lighter;
  background-color: hsl(var(--primary-hsl), .25);
  border: 1px solid hsl(var(--primary-hsl));
  color: white;
  border-radius: .5em;
  outline: none;
  cursor: pointer;
  width: 100%;
}

.login-button:hover,
.login-button:focus {
  background-color: hsl(var(--primary-hsl), .4);
}